---
import { Image } from 'astro:assets'
import Background from '../assets/gmod-wallpaper.jpg'

import Layout from '../layouts/Splash.astro';
import Spinner from '../components/Spinner.astro';
import SplashMessage from '../components/SplashMessage.astro';
---



<Layout title="TTT Splash" description="Custom TTT Loading Screen with random Tips.">
  <section class="splash">
    <Image
    src={Background}
    class:list="background-image"
    alt=""
    />

    <section class="loadingscreen">
      <Spinner />
      <SplashMessage />
    </section>

  </section>
</Layout>



<style>

  .splash {
    display: grid;
    place-items: center;
  }

  .splash * {
    grid-area: 1 / 1 / -1 / -1;
  }

  .background-image {
    min-width: 100vw; min-height: 100vh;
    object-fit: cover;
    opacity: .3;
  }

  .loadingscreen {
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #E5E5E5;
  }

</style>
