*,
*::before,
*::after {
  box-sizing: border-box;
}

html { font-size: 62.5%; }


body {
  margin: 0; padding: 0;
  width: 100vw; height: 100svh;
  background-color: #1D283D;
  background-image: linear-gradient(
    120deg,
    #1D283D,
    #0F172B
  );
  font-family: system-ui, sans-serif;
  font-size: 2.4rem;
  /*  Everything scales with font size.
      To change the scaling, just change the line above. */
}





.splash {
  display: grid;
  place-items: center;
  width: 100vw; height: 100svh;
  overflow: clip;
}

.splash * {
  /*  ensure everything is placed
   *  inside the same grid cell */
  grid-area: 1 / 1 / -1 / -1;
}

.splash-background {
  min-width: 100vw; min-height: 100vh;
  object-fit: cover;
  opacity: .3;
}

.splash-content {
  z-index: 10;
  display: flex; gap: 1.2em;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #E5E5E5;
}

.splash-spinner {
  position: relative;
  transform: translate(-35%, -20%);
  font-size: 2.4em;
}



@keyframes clockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes counterClockwise {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}


.gear {
  width: 1em; aspect-ratio: 1/1;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.gear.one {
  animation-name: counterClockwise;
}

.gear.two {
  position: absolute;
  top: .5em; left: .7em;
  animation-name: clockwise;
}



.splash-text {
  margin: 0;
  max-width: 32ch;
  text-wrap: balance;
}





footer {
  position: absolute;
  right: 2.4rem; bottom: 2.4rem;
  display: flex; gap: .4em;
  font-size: 1.2rem;
  color: #62748E;
}

footer svg {
  width: 1em; aspect-ratio: 1/1;
}

footer .heart {
  color: #F7339A;
}

footer a {
  text-decoration: none;
  color: #00D3F2;
}

footer a:hover {
  color: #AD47FF;
}
