---
import { Icon } from 'astro-icon/components';
---



<footer class="
  absolute bottom-5 right-5
  flex items-center gap-1
  text-sm text-slate-500
">
  Made with
  <span class="text-pink-500">
    <Icon name="ph:heart-straight-fill" />
  </span>
  and
  <a
    href="https://github.com/flexqmadness/ttt-splash"
    class="text-cyan-400 hover:text-purple-500
  ">
    <Icon name="ph:github-logo-fill" />
  </a>
</footer>
