---
import { Icon } from 'astro-icon/components';
---



<footer>
  Made with
  <a
    href="https://astro.build">
    <Icon name="ph:rocket-launch-fill" />
  </a>
  and
  <a href="https://github.com/flexqmadness/ttt-splash">
    <Icon name="ph:github-logo-fill" />
  </a>
</footer>



<style>
  footer {
    position: absolute;
    right: 2em; bottom: 2em;
    display: flex; gap: .2em;
    align-items: center;
    font-size: 80%;
    color: #62748E;
  }

  a { text-decoration: none; }

  a:nth-child(1) {
    color: #F7339A;
  }

  a:nth-child(2) {
    color: #00D3F2;
  }

  a:hover {
    color: #AD47FF;
  }

</style>
