---
import { Icon } from 'astro-icon/components';
---


<div class="spinner
  -translate-[50%]
  text-6xl
">
  <Icon name="ph:gear" class:list="animate-spinCounterClockwise"/>
  <Icon name="ph:gear" class:list="absolute left-10 top-8 animate-spinClockwise"/>
</div>
