---
import { Icon } from 'astro-icon/components';
---


<div class="spinner">
  <Icon name="ph:gear" class="gear one"/>
  <Icon name="ph:gear" class="gear two"/>
</div>



<style>
  .spinner {
    translate: -35% -20%;
    font-size: 6em;
  }

  .gear {
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  .gear.one {
    animation-name: counterClockwise;
  }

  .gear.two {
    position: absolute;
    top: .5em; left: .7em;
    animation-name: clockwise;
  }
</style>
