---
import '../styles/global.css'

import Footer from '../components/MainFooter.astro'


interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---



<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body class="bg-slate-800">
    <slot />
    <Footer />
  </body>
</html>



<style>
  body {
    margin: 0; padding: 0;
    width: 100vw; height: 100svh;
    overflow: clip;
    background-color: #1D283D;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
</style>
